@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: rgb(var(--color-primary));
  --color-primary-50: rgb(var(--color-primary-50));
  --color-primary-100: rgb(var(--color-primary-100));
  --color-primary-200: rgb(var(--color-primary-200));
  --color-primary-300: rgb(var(--color-primary-300));
  --color-primary-400: rgb(var(--color-primary-400));
  --color-primary-500: rgb(var(--color-primary-500));
  --color-primary-600: rgb(var(--color-primary-600));
  --color-primary-700: rgb(var(--color-primary-700));
  --color-primary-800: rgb(var(--color-primary-800));
  --color-primary-900: rgb(var(--color-primary-900));
  --color-primary-950: rgb(var(--color-primary-950));

  --color-secondary: rgb(var(--color-secondary));
  --color-secondary-50: rgb(var(--color-secondary-50));
  --color-secondary-100: rgb(var(--color-secondary-100));
  --color-secondary-200: rgb(var(--color-secondary-200));
  --color-secondary-300: rgb(var(--color-secondary-300));
  --color-secondary-400: rgb(var(--color-secondary-400));
  --color-secondary-500: rgb(var(--color-secondary-500));
  --color-secondary-600: rgb(var(--color-secondary-600));
  --color-secondary-700: rgb(var(--color-secondary-700));
  --color-secondary-800: rgb(var(--color-secondary-800));
  --color-secondary-900: rgb(var(--color-secondary-900));
  --color-secondary-950: rgb(var(--color-secondary-950));
}

:root {
  /* Default: Orange (Primary) & Blue (Secondary) */
  --color-primary: 249 115 22;
  --color-primary-50: 255 247 237;
  --color-primary-100: 255 237 213;
  --color-primary-200: 254 215 170;
  --color-primary-300: 253 186 116;
  --color-primary-400: 251 146 60;
  --color-primary-500: 249 115 22;
  --color-primary-600: 234 88 12;
  --color-primary-700: 194 65 12;
  --color-primary-800: 154 52 18;
  --color-primary-900: 124 45 18;
  --color-primary-950: 67 20 7;

  --color-secondary: 59 130 246;
  --color-secondary-50: 239 246 255;
  --color-secondary-100: 219 234 254;
  --color-secondary-200: 191 219 254;
  --color-secondary-300: 147 197 253;
  --color-secondary-400: 96 165 250;
  --color-secondary-500: 59 130 246;
  --color-secondary-600: 37 99 235;
  --color-secondary-700: 29 78 216;
  --color-secondary-800: 30 64 175;
  --color-secondary-900: 30 58 138;
  --color-secondary-950: 23 37 84;
}

.dark {
  /* Dark mode overrides if needed, but usually we just use the same palette with dark bg */
}
